<div class="contents row">
  <div class="container">
    <h3>NEW</h3>
    <%= form_with model: @tweet, local: true do |form| %>

    <%= render 'shared/error_messages', model: form.object %>

      <%= form.file_field :image, id: "tweet-image" %>
      <%= form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :exposition, placeholder: "思ったこと感じたことはなんだろう？", rows: "10" %>
      <%= form.submit "アップロード"%>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
    <%= link_to root_path do %>
      <div class='purchase-btn'>
        <span class='purchase-btn-text'>キャンセル</span>
        <%= image_tag 'icon2.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </div>
    <% end %>
  <% end %>