<div class="contents row">
  <div class="container">
    <h3>NEW</h3>
    <%= form_with model: @tweet, local: true do |form| %>

    <%= render 'shared/error_messages', model: form.object %>
      <%# form.text_field :title, placeholder: "タイトル" %>
      <%= form.text_area :exposition, rows: "10" %>
      <%= form.file_field :image, id: "tweet-image" %>
      <%= form.submit "アップロード"%>
    <% end %>
  </div>
</div>

<%= link_to root_path do %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>戻る</span>
    <%= image_tag 'icon2.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<% end %>
