  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
      <span><%= image_tag @tweet.image, class: 'tweet-img' if @tweet.image.attached? %></span>
      <% if user_signed_in? && current_user.id == @tweet.user_id%>
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
      <% end %>
          <%= link_to '戻る', root_path %>
        
    </div>
    <p><%= @tweet.title %></p>
    <span class="name"><%= @tweet.exposition %>
    </span>
  </div>
</div>

  <% if user_signed_in? %>
    <%= link_to new_tweet_path do %>
      <div class='purchase-btn'>
        <span class='purchase-btn-text'>NEW</span>
        <%= image_tag 'icon.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      </div>
    <% end %>
  <% end %>
