  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
      <span><%= image_tag @tweet.image, class: 'tweet-img' if @tweet.image.attached? %></span>
      
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        
    </div>
    <p><%= @tweet.title %></p>
    <span class="name"><%= @tweet.exposition %>
    </span>
  </div>
</div>
