<%= render "shared/header1" %>

<div class="contents row">
 <div class="tweet-note">
    <div class="tweet-title">
      <p><%= @tweet.title %></p>
    </div>
    <div class="tweet-exposition">
      <%= @tweet.exposition %>
    </div>

    <div class="tweet-base">

    <%= link_to @tweet.image, "data-lightbox" => @tweet.image do %>
      <span><%= image_tag @tweet.image, height: '250', :style=>"width:300;", class: 'tweet-image' if @tweet.image.attached? %></span>
      <% end %>
      
      <div class="tweet-page">
      <% if user_signed_in? && current_user.id == @tweet.user_id%>
         <div class="tweet-destroy">
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
          <%= link_to 'マイページ', "/users/#{@tweet.user_id}" %>
           </div>
      <% end %>
      </div>
    </div>

   <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@tweet, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

   <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, user_path(comment.user.id) %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
   </div>
 </div>
</div>

<%= render "shared/footer" %>