<%= render "shared/header2" %>

<div class="contents row">
  <% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id) do %>
  <div class="contribution">
    <div class="contribution-title">
      <%= tweet.title %>
    </div>
    <div class="contribution-image">
      <%= image_tag tweet.image, class: 'tweet-img' if tweet.image.attached? %>
     </div>
     </div>
     <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
<%= link_to new_tweet_path do %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>NEW</span>
    <%= image_tag 'icon.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<% end %>
<% end %>

<%= render "shared/footer" %>

