<%= render partial: "shared/header2", locals: { name: @name } %>

<div class="contents row">
  <% @tweets.each do |tweet| %>
  <%= link_to tweet_path(tweet.id) do %>
  <div class="contribution">
    <div class="contribution-title">
      <%= tweet.title %>
    </div>
    <div class="contribution-image">
      <%= image_tag tweet.image, class: 'tweet-img' if tweet.image.attached? %>
     </div>
     </div>
     <% end %>
  <% end %>
</div>

<%= render "shared/footer" %>

