<!DOCTYPE html>
<html>
  <head>
    <title>Platt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="./css/reset.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if user_signed_in? %>
<%= link_to new_tweet_path do %>
<div class='purchase-btn'>
  <span class='purchase-btn-text'>NEW</span>
    <%= image_tag 'icon.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<% end %>
<% else %>
<% end %>
  </body>
</html>

